.navbar {
    background: hsl(0, 0%, 0%);
}

.hamburger {
    position: absolute;
    width: 30px;
    margin-top: 4.8rem;
    margin-left: clamp(1em, 8vw, 4em);
    cursor: pointer;
    z-index: 0;
}

.hamburgerIcon {
    z-index: 100;
    width: auto;
    height: auto;
}

.logo {
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(2.5em, 8vw, 3em);
    line-height: 4.5rem;
    letter-spacing: 0.5rem;
    padding-top: 3.5rem;
    font-family: 'Bebas Neue';
}

.navMenu {
    background-color: white;
    color: white;
    list-style: none;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    transition: 500ms;
    font-family: 'Bebas Neue';
}

.navHidden {
    background-color: white;
    color: white;
    list-style: none;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    align-items: center;
    transition: 500ms;
    font-family: 'Bebas Neue';
}

.navList {
    color: black;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.4rem;
    padding: 0;
    margin: 0;
    line-height: 8rem;
    display: block;
    font-size: clamp(5rem, 8vw, 6.5rem);
}

.navListItem{
    padding: 0 clamp(1rem, 4vw, 1.5rem);
    margin: 0;
    font-family: 'Bebas Neue';
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}

.navListItem:nth-child(4){
    border-bottom: none;
}